@import '../../../styles/colors.styl';
@import '../../pages/styles/transactions.styl';

.decentralChainAuthTransactionCard
  @extends .transaction-card

  .cardHeader,
  .cardContent
    flex-direction: column;
    margin: 0;

  .cardContent
    padding-left: 0;
    margin-bottom: 4px;
    text-align: center;

  .smallCardContent
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

.decentralChainAuthCard_collapsed
  .origin
    display: none;

.decentralChainAuthTxIconSmall
  @extends .txIcon

.decentralChainAuthTxIcon
  @extends .txIconBig

.decentralChainAuthTxScrollBox
  @extends .txScrollBox
  flex-grow: 0;

.decentralChainAuthOriginDescription
  @extends .originNetwork
  color: $white;
  font-size: 12px;

.decentralChainAuthOriginAddress
  @extends .originAddress
  padding-top:7px;
  margin-bottom: 4px;
  color: $white;
  font-size: 14px;
