.tabs {
  position: relative;
  margin: 20px 10px;
  display: flex;
  justify-content: space-around;
}
.tab {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}
.tab span {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.tab:before {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  content: ' ';
  margin-right: 8px;
  background: url('../../../../../assets/img/check-14-basic-200.svg') center no-repeat;
}
.selected {
  cursor: default;
}
.selected span {
  color: #fff;
  border-bottom: 1px dotted #0e0e1c;
}
.selected:before {
  background: url('../../../../../assets/img/check-14-success-400.svg') center no-repeat;
}
